*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.me{
 padding: 25px;
  color: rgb(98, 0, 21);
  font-size: 50px;
  font-family: cursive;
  text-align: center;
 text-transform: capitalize;
 text-shadow: 0px 2px 4px rgb(98, 0, 21);
}
.image{
  display:flex;
  justify-content: center;
}
.my
{
  font-size: 25px;
  text-overflow: clip;
  font-family: cursive;
  text-align: center;
  text-transform: none;
  text-decoration: solid;
  font-weight: bold;
  color: rgb(56, 2, 34);
  padding-top: 25px;
}
